.image-left,
.image-right,
.standalone-image {
	display: block;
	clear: both;
	border: 1px solid #ccc; 
	padding: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.image-left {
	float:left;
	margin-right: 15px;
}
.image-right {
	float: right;
	margin-left: 15px;
}
.standalone-image {
	margin-left: auto;
	margin-right: auto;
}
.caption {
	text-align: center;
}