/* $Id: linodef-buttonsapi-popup.css,v 1.1.2.1 2008/11/30 13:00:31 roidanton Exp $ */

/**
 * Linodef popup
 */
#linodef-popup #header {
	background: white;
}
#linodef-popup #header img {
	border: 0;
	padding: 0;
	margin: 0;
}
#linodef-popup #header #closebutton {
	float: right;
	padding: 1px;
}
#linodef-popup #explanation {
	background: #f4f4f4;
	border-bottom: 1px #ededed solid;
}